
/* 
----------------------------------------------------------------------------------------

Copyright 2010 - Thierry Ruiz - www.dotemplate.com - All rights reserved.

THIS TEMPLATE IS FREE AS LONG AS YOU KEEP THE LINK TO WWW.DOTEMPLATE.COM IN THE FOOTER
TO REMOVE THE LINK, PLEASE MAKE A 10 DOLLARS DONATION at www.dotemplate.com/#donate

----------------------------------------------------------------------------------------
*/


html {
	background: #d0d0d0;
	margin:0 0 0 -1px;
	padding:0;	
	overflow-Y: scroll;
}


body {
	padding:0;
	margin :0;
	display:table; 
	width:100%;	
}


					body {
	color:#202020;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
}

p {
	letter-spacing: normal;
	line-height: 20px;
}

h1 {
	color:#000000;
	font-size:24px;
	margin:25px 0 10px 0;
	clear:both;
}


h2 {
	color:#000000;
	font-size:18px;
	margin:20px 0 10px 0;
	clear:both;
}


h3 {
	color:#000000;
	font-size:16px;
	margin:20px 0 5px 0;
	clear:both;
}



a:link, a:visited {
	color:#707070;
	text-decoration:underline;
}


a:hover {
	color:#6bb501;
	text-decoration:underline;
}
	
					
#wrapper {
	background: transparent url( images/css/page-vbg.jpg ) repeat-y scroll 50% 0px;
	margin:0 auto ;
	width:100%;
}

					body {
	background-color:#d0d0d0;
}

#wrapper {
	border-top: 1px solid #ffffff;
}
	

#bg {
	margin:0 auto;
	padding:0;
	background:transparent ;
	background-image:url(images/css/hat.jpg);
 	background-repeat:no-repeat;	
	background-position: center top ;
}



					#header {
	margin: 0 auto;
	min-height:25px;
	height: 25px;
	width: 800px;
}
	

#page {
	background: transparent url( images/css/page-bg.jpg ) no-repeat center top;
}


					

#container {
	margin:0 auto;
	width:800px;
}


#banner {
	margin: 0 auto;
	height:150px;
	width:100%;
}

					

#nav1 {
	height:35px;
	margin:0 auto ;
	text-align:center;
}

#nav1 ul {
	display:table;
	margin:0 auto;
	padding:0;
	list-style-type:none;
	position:relative;
	height:35px;
	text-transform:uppercase;
	font-size:12px;
	font-family:Arial,sans-serif;
}


#nav1 ul li {
	display:block;
	float:left;
	margin:0;
	padding:0;
	background:transparent url('images/css/hmenu.jpg') repeat-x top left;
	border-left:1px solid #8e8e8e;

}


#nav1 ul li a {
	display:block;
	float:left;
	color:#FFFFFF;
	text-decoration:none;
	padding:0px 52px ;
	line-height:35px;
	font-weight:bold;
}


#nav1 ul li a:hover, #nav1 li#current a {
	color:#000000;
	background:transparent url('images/css/hmenu-sel.jpg') repeat-x top left;
}

	

#content {
	width:780px;
	margin:0 auto ;
	text-align:left;
	min-height:650px;
}


#content p {
	text-align:justify;
}
	



#footerWrapper {
	margin:0 auto;
	height:130px;
	padding:0;
	background:transparent url( images/css/footerWrapper-bg.jpg ) no-repeat scroll center top;
}


#footer {
	margin:0 auto;
	padding:0;
	width:800px;
	height:50px;
}


					#footer {
	color:#FFFFFF;
	text-align:center;
}

#footer a:link, #footer a:visited {
	color:#FFFFFF;
}


#footer a:hover{
	color:#6bb501;
	text-decoration:none;
}

	
	
					
#right {
	width:200px;
	padding:10px 20px 20px 20px;
	float:left;
}


#center {
	width:500px;
	padding:10px 20px 20px 20px;
	float:left;
}

#center ul li {
  margin-bottom: 0.7em;
  text-align: justify;
}
 
#content p {
	margin-top:10px;
	text-align:justify;
}


										
#sidebar ul.vmenu {
	list-style: none;
	text-align: left;
	margin: 7px 0px 8px 0px; 
	padding: 0;
	text-decoration: none;	
	border-top: 1px solid #EEEEEE;
}


#sidebar ul.vmenu li {
	list-style: none;
	padding: 4px 0 4px 0px;
	margin: 0 2px;	
	border-bottom: 1px solid #EEEEEE;
}



#sidebar ul.vmenu li a {
	text-decoration: none;
	color:#909090;
}


#sidebar ul.vmenu li a:hover {
	color:#6bb501;
}


#sidebar ul.vmenu ul { margin: 0 0 0 5px; padding: 0; }
#sidebar ul.vmenu ul li { border: none; }

#large_bullets ul li {
	font-size:16px;
  line-height: 1.5em;
}

a img {
	border:none;
} 


.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/*========================================================================================= */
/* The following sections were added by M. Freddie Dias <mfdias@ri.cmu.edu> on Aug 3, 2011 */

#photos {
  width: 760px;
	margin-top: 15px;
	text-align:center;
}

#photos span {
	display: inline-block;
	width: 150px;
	margin: 15px 10px;
}

#photos img {
	border: 2px solid #3e5c23;
}

#movie_container {
  width: 725px;
  height: 310px;
	margin-top: 15px;
	text-align:center;
}

#movie {
	float:right; 
	text-align:center; 
	width:425px; 
	margin-bottom: 15px;
}

#movieNav {
	float:left; 
	width:275px; 
	border: solid 1px #aaa;
}

#movieNav a {
	display: inline-block;
	margin: 2px 5px 2px 5px;
	cursor: pointer;
}

#movieNav a:hover {
  cursor: pointer; 
  color: #FFFFFF; 
  background-color: lightslategray; 
  text-decoration: none
}


/*========================================================================================= */

.rounded_border {
  border-width: 2px;
  border-style: solid;
  border-color: #b6b6b6;
  border-radius: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}